header.site-header 
    //background red
    //border 1px solid alpha
    display grid
    align-items center
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    //height 600px
    margin-top 80px
    //min-height 300px
    //padding 16px
    position relative
    width 100%
    z-index -1
.banner-img
    grid-column 1 / 2   
    grid-row 1 / 2
    margin 0
    //opacity .4

.country-banner 
    //background alpha + (80%) //#000
    //border 1px solid red
    display grid
    grid-template-columns: 1fr
    gap 20px
    grid-column 1 / 2
    grid-row 1 / 2
    height 100%
    margin 0 auto
    //margin-top 80px
    max-width 1200px
    padding 32px 0
    //position relative
    text-align center
    width 100%
    //z-index -10
    img 
        //max-width 400px
        //border 10px solid light
        min-height 400px

        width 100%
    .panel-wrap 
        //border 1px solid blue //light
        border-radius: 10px
        //color light
        background: rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.25);
        display flex
        align-items center
        flex-wrap wrap
        justify-content left
        height 100%
        gap 20px
        margin auto
        max-width 400px
        padding 16px
        //position relative
        width 100%
        z-index 0

    .panel 
        //border 1px solid blue
        font-size 1.2rem
        height fit-content
        max-width 460px
        padding 16px