.targeted-list, #targeted-list 
    //background pink
    display grid
    gap 12px
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr) )
    flex-wrap wrap
    justify-content center
    align-items center
    max-width 1480px
    margin 24px auto
    width 100%
    a  
        color light
    .target 
        //border 2px solid light
        background rgba(light, .1)
        display flex
        flex-direction column
        gap 12px
        height 100%
        //flex-wrap wrap
        margin auto
        //max-height 400px
        //width 400px
        img 
            height 300px
            margin 0 auto
            position relative
            top 0
            width 100%
    h3 
        font-size 20px
        font-weight 600
        margin 0
    p 
        margin 0
        line-height 1.3
    .txt 
        padding 12px 12px 24px