{{/*  <h1>{{ site.Title }}</h1>  */}}
{{/*  {{partial "navbar" .}}  */}}
<header class="site-header">

    {{/*  <picture >
        <source srcset="/imgs/europe/banner-sm.jpeg" media="(max-width: 780px)">
        <source srcset="/imgs/europe/banner-md.jpeg" media="(max-width: 1080px)">

    </picture>  */}}
    {{/*  <img class="banner-img" src="/imgs/europe/dream-1518227_1280.jpg.webp" alt="">  */}}

    <div class="banner">
        {{/*  {{partial "country-dropdown" .}}  */}}
        {{partial "topnav" .}}
        <div class="banner-items">
            {{/*  <h1 class="banner-item"> {{.Title}}</h1>
            <img class="banner-item" src="{{.Params.image}}" alt="{{.Params.alt_txt}}">  */}}
            {{/*  <p class="header-p banner-item">{{.Params.description}}</p>  */}}
            <p class="brand">eugo.uk</p>
            <p class="site-heading">Discover Europe </p>
            <button class="open-country-dropdown banner-item">View All Countries </button>
        </div>
        
    </div>
    
{{/*  <span>&#187;</span>  */}}


