{{ $page := .page }}
{{ $site := .site }}

{{ range .menu }}
  {{ $is := $page.IsMenuCurrent "main" . }}
  {{ $has := $page.HasMenuCurrent "main" . }}
  {{ if .HasChildren }} 
    
      <a href="{{ .URL }}">
        {{ .Name }}
        {{ if $is }}[Is]{{ end }}
        {{ if $has }}[Has]{{ end }}
        {{ if .HasChildren }}[Children]{{ end }}
      </a>
        <!-- If the menu item has children, include this partial template again (recursively) -->
        {{ partial "menu_recursive.html" (dict "menu" .Children "page" $page "site" $site) }}
    </a>

  {{ else }}
    <div class="aside-box">
        <img src="{{.Params.image}}" id="aside-img" alt="alt"> 
      <a href="{{ .URL }}" class="aside-link" >
        <span>{{.Params.heading}} </span>
        <br>
        {{ .Name }}

        {{ if $is }}[Is]{{ end }}
        {{ if $has }}[Has]{{ end }}
        {{ if .HasChildren }}[Children]{{ end }}
     
      </a>
    </div>
  {{ end }}
{{ end }}
