<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" />
    <meta name="og:description" content="{{ .Params.description }}" />
    <meta name="description" content="{{ .Params.description }}" />
    <title>{{.Title}}</title>
</head>
<body>
    {{partial "country-dropdown" .}}
    {{partial "header" .}}
    <div class="container">
    

        {{block "main" .}}
        {{end}}
    </div>
    {{partial "footer" }}
</body>
</html>