{{ define "main" }}
  {{/*  <h1>{{ .Title }}</h1>  */}}
  {{/*  <h1>default cities</h1>  */}}
{{/*  <nav class="city-nav">

  </nav>  */}}


{{/*    */}}

<nav id="city-nav" class="city-nav">
 
  {{ range .Pages }}

  <a href="{{ .RelPermalink }}" class="city-nav-link"  >{{ .Params.tab }}</a>


  {{/*  {{ .Summary }}  */}}
{{ end }}
</nav>

<div class="holy-grail">

  <div class="main">
    <h1 class="banner-item"> {{.Title}}</h1>
    <img class="banner-item" src="{{.Params.image}}" alt="{{.Params.alt_txt}}">
      {{ .Content }}
  </div>
  <div class="aside">

    {{/*  this works  */}}
    {{/*  <h3>the best of...</h3>  */}}
    {{/*  <h3>{{.Params.target }} target</h3>
    <a href="{{ .RelPermalink }}" class="city-nav-link"  >hello {{ .Params.target }}</a>
    <img class="banner-item tgt-img" src="{{.Params.image}}" alt="{{.Params.alt_txt}}">
    <a href="/france/beaches">targwt</a>  */}}
  </div>
</div>

{{ end }}
