{{/*  {{ define "main" }}
  {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
{{ end }}  */}}
{{define "main"}}


 
  {{/*  <h1>{{.Title}}</h1>  */}}

 {{/*  <h2>
  {{ range where .Data.Pages "Type" "cities" }}
    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{ end }}
 </h2>  */}}




{{/*    */}}
<div class="holy-grail">
  <div class="main">
    <h1 class="banner-item"> {{.Title}}</h1>
    <img class="banner-item" src="{{.Params.image}}" alt="{{.Params.alt_txt}}">
    {{ .Content }}
  </div>
  <div class="-home-aside">
    <h3>More on what Europe has to offer</h3>
    
       {{ partial "menu_include.html" . }} 
       {{/*  <p>{{.Params.description}} </p>  */}}
    </ul>


    {{/*  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}

    {{- range site.Menus.main }}
    <a href="{{ .URL }}">
      {{ .Name }}
      {{- with .Page }}
        {{- with .Params.version -}}
          ({{ . }})
        {{- end }}
      {{- end }}
    </a>
  {{- end }}  */}}

    {{/*  {{ range where .Data.Pages "Type" "euro"   }}

      <a href="{{ .RelPermalink }}" class="country-links ">{{ .Params.title }}</a>

      <p>{{.Params.description}}</p>
    {{ end }}
    <a href="/europe/seasonal">seasonal</a>  */}}
  </div>
</div>
{{end}}

