.holy-grail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: auto;
  margin-top: 20px;
  max-width: 660px;
  position: relative;
  width: 100%;
}
.holy-grail a {
  color: #006994;
  font-weight: bold;
  text-decoration: underline;
}
.holy-grail img {
  margin: 0 auto 40px;
  max-height: 400px;
  height: 100%;
  max-width: 600px;
  width: 100%;
}
.aside,
.main {
  padding: 16px;
}
aside,
.aside {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  height: 400px;
}
.aside-item {
  border: 1px solid #000;
  height: 100%;
  margin-bottom: auto;
  max-height: 100px;
}
@media (min-width: 768px) {
  .holy-grail {
    display: grid;
    max-width: 1200px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .holy-grail {
    grid-template-columns: 2fr 1fr;
  }
}
nav.navbar {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  height: 80px;
  margin-top: 0;
  padding: 0 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav.navbar a {
  color: #726230;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 10px;
  transition: all 0.3s;
}
nav.navbar a:hover {
  background: #87ceeb;
  color: #fff;
  transition: all 0.3s;
}
.country-list {
  border-radius: 16px;
  background: rgba(0,0,0,0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
button.open-country-dropdown {
  background: linear-gradient(#87ceeb, #377e9b);
  background: rgba(0,0,0,0.4);
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10px 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.country-list.show-country-list {
  height: initial;
  max-height: fit-content;
  padding: 16px;
  transform: translateX(-50%);
  transition: all 0.8s ease-in-out;
}
.locations.show-country-list {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.country-list button {
  border-radius: 20px;
  color: #fff;
  font-size: 1.2rem;
  grid-column: 1/-1;
  height: 50px;
  margin: auto;
  width: 140px;
}
form.contact-form {
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  padding: 16px;
  z-index: 2;
  width: 100%;
}
form.contact-form .form-group {
  min-height: 100px;
  width: 100%;
}
form.contact-form textarea {
  min-height: 200px;
}
form.contact-form input,
form.contact-form textarea {
  background: #e7f5fb;
  border: 0;
  font-size: 1.2rem;
  outline: none;
  padding: 16px;
  width: 100%;
}
form.contact-form label {
  display: block;
  color: #0b303f;
  font-size: 1.2rem;
  margin: 16px 0 8px;
}
header.site-header {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 0;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  top: 0;
  width: 100%;
}
.banner-img {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  max-height: 100vh;
  height: 100vh;
}
.banner {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 60px auto 0;
  padding: 10px 16px 16px;
  text-align: center;
  max-width: 600px;
  position: relative;
  width: 100%;
}
.banner img {
  mask-image: linear-gradient(to bottom, #000 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, #000 60%, transparent 100%);
  height: 300px;
  margin: 24px auto;
  width: 300px;
}
.banner-items {
  background: rgba(0,0,0,0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 32px;
  padding: 12px 16px 24px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
.banner-items p {
  color: #fff;
}
.hide-banner-items {
  position: relative;
  transform: scale(0);
}
footer {
  min-height: 300px;
  padding: 60px 0 0;
  position: relative;
  width: 100%;
}
footer::after {
  background: linear-gradient(rgba(194,178,128,0.2), rgba(135,206,235,0.8));
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.footer-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  max-width: 1280px;
}
.footer-grid ul {
  list-style: none;
}
.footer-grid a {
  color: #fff;
  font-size: 1.2rem;
}
.footer-grid .country-link-grid {
  display: grid;
  gap: 16px;
}
.foot {
  background: #0b303f;
  display: flex;
  gap: 20px;
  justify-content: center;
  grid-column: span 2;
  margin-top: 24px;
  padding: 20px;
}
.foot ul {
  border: none;
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  width: 100%;
}
.foot a {
  color: #fff;
}
p.foot-p {
  background: #0b303f;
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  margin: 0;
  padding: 15px;
  text-align: center;
}
.to-top {
  display: block;
  color: #574c2a;
  font-weight: 800;
  margin: 20px auto 32px;
  padding: 12px 24px;
  text-decoration: underline;
  width: fit-content;
}
nav.footer-nav {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-column: 1/-1;
  justify-content: space-between;
  overflow-y: scroll;
  max-height: 400px;
}
nav.footer-nav .footer-link {
  color: #574c2a;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}
nav.footer-nav .footer-link:hover {
  color: #87ceeb;
}
.topnav.country-dropdown {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  height: 0;
  margin-top: -60px;
  max-width: 400px;
  padding-bottom: 16px;
  position: absolute;
  transform: scale(0);
  width: 100%;
}
.topnav.country-dropdown a {
  background: rgba(0,0,0,0.2);
  color: #fff;
  font-weight: bold;
  padding: 6px 8px;
  text-decoration: underline;
}
.topnav.country-dropdown.show-country-list {
  height: auto;
  transform: scale(1);
  transition: all 0.5s;
  z-index: 100;
}
@media (min-width: 600px) {
  .banner {
    margin: 120px auto 0;
  }
  .topnav.country-dropdown {
    margin-top: 0;
    max-width: 600px;
  }
}
nav.city-nav {
  display: flex;
  gap: 16px;
  margin: auto;
  width: fit-content;
}
.breadcrumb-navwrap {
  margin-top: 48px;
}
.breadcrumb-navwrap nav.breadcrumb-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  height: 40px;
  margin: auto;
  padding: 0;
  position: relative;
  width: fit-content;
}
.breadcrumb-navwrap nav.breadcrumb-nav a.breadcrumb-link {
  background: #87ceeb;
  color: #333;
  height: 100%;
  max-height: 52px;
  padding: 12px 12px 0px;
  position: relative;
  text-decoration: none;
}
.breadcrumb-navwrap nav.breadcrumb-nav:hover {
  text-decoration: underline;
}
.breadcumb-end {
  background: rgba(135,206,235,0.4);
  padding: 8px;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Merienda/static/Merienda-Regular.ttf");
}
@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/El_Messeri/static/ElMessiri-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: radial-gradient(circle at 28% 90%, rgba(113,113,113,0.03) 0%, rgba(113,113,113,0.03) 24%, transparent 24%, transparent 100%), radial-gradient(circle at 84% 65%, rgba(173,173,173,0.03) 0%, rgba(173,173,173,0.03) 45%, transparent 45%, transparent 100%), radial-gradient(circle at 46% 12%, rgba(141,141,141,0.03) 0%, rgba(141,141,141,0.03) 22%, transparent 22%, transparent 100%), radial-gradient(circle at 26% 14%, rgba(119,119,119,0.03) 0%, rgba(119,119,119,0.03) 35%, transparent 35%, transparent 100%), radial-gradient(circle at 81% 90%, rgba(42,42,42,0.03) 0%, rgba(42,42,42,0.03) 40%, transparent 40%, transparent 100%), radial-gradient(circle at 28% 100%, rgba(234,234,234,0.03) 0%, rgba(234,234,234,0.03) 56%, transparent 56%, transparent 100%), linear-gradient(90deg, #fff, #fff);
  background-attachment: fixed;
  color: #2090be;
  font-family: 'Montserrat';
  line-height: 1.4;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  padding: 0;
  border-radius: 5px;
  width: 100%;
}
h1 {
  color: #006994;
  font-family: 'Merienda';
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.3;
  margin-bottom: 16px;
  padding: 8px 0;
}
h2 {
  color: #006994;
  font-family: 'Merienda';
  font-weight: 200;
  margin: 20px 0 8px;
  text-align: center;
}
h3 {
  font-family: 'Merienda';
  font-weight: 200;
  color: #2d7491;
  margin: 24px 0 16px;
}
p {
  color: #0b303f;
  font-family: 'Montserrat';
  font-size: 1.1rem;
  margin-bottom: 12px;
}
blockquote {
  background: #e7f5fb;
  border-left: 10px solid #b7e2f3;
  font-style: italic;
  margin: 32px auto;
  padding: 16px;
  width: 90%;
}
hr {
  margin: 32px auto;
  width: 100px;
}
ul,
ol {
  display: flex;
  gap: 24px;
  flex-direction: column;
  font-size: 1.2rem;
  font-style: italic;
  margin: 20px auto 100px;
  width: 90%;
}
li {
  list-style: none;
}
.holy-grail ol {
  perspective: 200px;
  position: relative;
}
.holy-grail li {
  background: linear-gradient(90deg, #9fd8ef, transparent);
  box-shadow: rgba(135,206,235,0.25) 0px 30px 60px -12px inset, rgba(21,96,127,0.6) 0px 18px 36px -18px;
  color: #0b303f;
  padding: 12px;
  transform: rotateY(-2deg);
  width: 90%;
}
.holy-grail ul li {
  background: #f3f0e6;
  border-radius: 19px 8px 8px 19px;
  box-shadow: rgba(194,178,128,0.25) 0px 30px 60px -12px inset, rgba(87,76,42,0.6) 0px 18px 36px -18px;
  color: #83723f;
  padding: 12px 12px 12px 20px;
  position: relative;
}
.holy-grail ul li:nth-child(odd) {
  background: #e7e0cc;
}
.holy-grail ul li::before,
.holy-grail ul li::after {
  border-radius: 50%;
  content: '';
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
.holy-grail ul li::before {
  background: inherit;
  content: '';
  height: 100%;
  left: -20px;
  height: 100%;
  left: -22px;
  width: 60px;
  z-index: -1;
}
.holy-grail ul li::after {
  background: #fff;
  height: 18px;
  left: -20px;
  top: 50%;
  left: -12px;
  width: 18px;
}
.container {
  min-height: 90vh;
  max-width: 660px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
  .country-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    width: 100%;
  }
  #map {
    width: 100%;
  }
}
.city-nav,
#city-nav {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 20px auto;
  padding: 8px 20px;
  position: relative;
  width: fit-content;
}
.city-nav a.city-nav-link,
#city-nav a.city-nav-link {
  border: 1px solid #00f;
  font-size: 1.2rem;
  padding: 8px 16px;
  margin: auto;
  position: relative;
  color: #0b303f;
  width: fit-content;
  z-index: 20;
}
