
{{partial "navbar" .}}
<header class="site-header">
    <img class="banner-img-lg" src="/imgs/europe/banner-lg.jpeg" alt="Lady sitting on a bench in front of a cave">
    <div class="country-banner">
        <div class="panel-wrap">
            <div class="panel">
                <h1> {{.Title}} </h1>
                <p>{{.Params.description}}</p>
            </div>
        </div>

        <div class="img">
            {{/*  <img src="{{.Params.image}}" alt="{{.Params.alt_txt}}">  */}}
        </div>
    </div>


</header>